/* ==========================
HEADER
========================== */
html { scroll-behavior: smooth; }
body {
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
color: #333;
background-color: #fff;
animation: fadeIn 1.5s ease;
}


@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; }}


.fade-body { animation: pageFade 1.3s ease-in-out; }
@keyframes pageFade { from { opacity: 0; } to { opacity: 1; }}


.fade-slide { opacity: 0; animation: fadeSlide 1.4s ease forwards; }
@keyframes fadeSlide { from { opacity: 0; transform: translateY(30px); } to { opacity: 1; transform: translateY(0); }}


a {
text-decoration: none;
color: inherit;
}


.header {
background-color: #3E5C76;
padding: 12px 40px;
display: flex;
align-items: center;
justify-content: space-between;
position: sticky;
top: 0;
z-index: 10;
backdrop-filter: blur(6px);
}


.header a {
color: #fff;
font-weight: 600;
transition: color 0.3s;
}


.header img {
width: 400px;
height: auto;
}


.header nav a {
margin-left: 25px;
color: #fff;
font-weight: 500;
transition: color 0.3s;
}


.header h2 a:hover,
.header nav a:hover {
color: #adabab;
}


/* ==========================
BLOCO 1
========================== */
.header { padding: 12px 20px; flex-direction:
